apiVersion: apps/v1
kind: Deployment
metadata:
  name: identifier-standalone
  labels:
    app: identifier-standalone
spec:
  replicas: 1
  selector:
    matchLabels:
      app: identifier-standalone
  template:
    metadata:
      labels:
        app: identifier-standalone
    spec:
      containers:
        - name: identifier-standalone
          image: docker.gbif.org/ingest-gbif-spark-standalone:3.2.7-SNAPSHOT
          imagePullPolicy: Always
          args: ["IDENTIFIER", "/tmp/pipelines-spark.yaml"]
          resources:
            limits:
              memory: "8Gi"
              cpu: "12"
            requests:
              memory: "4Gi"
              cpu: "6"
          volumeMounts:
            - name: hdfs-env
              mountPath: /etc/hadoop/conf/core-site.xml
              subPath: core-site.xml
            - name: hdfs-env
              mountPath: /etc/hadoop/conf/hdfs-site.xml
              subPath: hdfs-site.xml
            - name: hive-env
              mountPath: /etc/hadoop/conf/hive-site.xml
              subPath: hive-site.xml
            - name: hbase-env
              mountPath: /etc/hadoop/conf/hbase-site.xml
              subPath: hbase-site.xml
            - name: pipelines-spark-yaml
              mountPath: /tmp/pipelines-spark.yaml
              subPath: pipelines-spark.yaml
      volumes:
        - name: hdfs-env
          configMap:
            name: gbif-hdfs
            items:
              - key: core-site.xml
                path: core-site.xml
              - key: hdfs-site.xml
                path: hdfs-site.xml
        - name: hive-env
          configMap:
            name: gbif-hive-metastore-custom
            items:
              - key: hive-site.xml
                path: hive-site.xml
        - name: hbase-env
          configMap:
            name: gbif-hbase
            items:
              - key: hbase-site.xml
                path: hbase-site.xml
        - name: pipelines-spark-yaml
          configMap:
            name: pipelines-spark-yaml
            items:
              - key: pipelines-spark.yaml
                path: pipelines-spark.yaml
